/* For Portfolio heading */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* For other headings */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root{
    --header-height: 3.5rem;
    /* color */
    --body-color: hsl(216, 18.07%, 16.27%);
    --body-light-color: hsl(216.92, 10.24%, 24.9%);
    --hue: 216;
    --text-color: hsl(0, 0%, 100%);
    --text-dark-color: hsl(0, 0%, 85.1%);
    --text-blue-color: hsl(182.65, 100%, 35.49%);

    /* fonts type and size*/
    --header-font: "Raleway", sans-serif;
    --body-font: "Syne", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --noraml-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /* Font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 5rem;
        --big-font-size: 2.75rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --noraml-font-size: 1.125rem;
        --small-font-size: 0.875rem;
    }
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsl(var(--hue), 70%, 4%, .2);
        backdrop-filter: blur(16px);
        /* -webkit-backdrop-filter: blur(16px); */
        /* Change width 80% */
        width: 45vw;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header and navigation */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-light-color);
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--text-color);
    font-family: var(--header-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.nav__close,
.nav__toggle {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    font-family: var(--body-font);
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--text-blue-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__link:hover {
    color: var(--text-blue-color);
}

.nav__link:hover::after {
    width: 30%;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    right: 0;
}